header { 
  background: #f19dd6;
  pedding: 20px 0;
}

nav { 
  position:absolute ;
  top: 110px
    right: 0; 
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a { 
text-transform: uppercase:}
  color: 000000;
  font-weigth: bold;
  font-size: 22px;
  text-decoration: none;
} 

.caixa {
  width: 940px;
  position: relative;
  margin: 0 auto;
}
