header { 
  background: #BBBBBB;
  pedding: 20px;
}
nav li {
  display: inline;
  margin: 0 0 0 15px;
}
nav a { 
text-transform: uppercase:}
  color: 000000;
  font-weigth: bold;
  font-size: 22px;
  text-decoration: none;
} 
.caixa {
  width: 940px;
  position: relative;
  margin: 0 auto;
}
