 body { 
      background: #CCCCCC;
 }

  p { 
    text-align: center;
   font-size: 20 px;
  } 

    h1 { 
     text-align: center;
    }

em strong { 
  color: #FF0000
}
#missao {
  font-size: 30px
}
#banner { 
width: 100%;
}
